

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

center {
    display: block;
    text-align: -webkit-center
}

:focus {
    outline: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical
}

audio,
canvas,
video {
    display: inline-block;
    max-width: 100%
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

hr {
    display: block;
    -webkit-margin-before: .5em;
    -webkit-margin-after: .5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px
}

a:focus {
    outline: none;
}

a:active,
a:hover {
    outline: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

figure {
    margin: 0
}

form {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0;
    white-space: normal
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

button,
input {
    line-height: normal
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: .67__qem;
    -webkit-margin-after: .67em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: 700
}

:matches(article, aside, nav, section) h1 {
    font-size: 1.5em;
    -webkit-margin-before: .83__qem;
    -webkit-margin-after: .83em
}

:matches(article, aside, nav, section) :matches(article, aside, nav, section) h1 {
    font-size: 1.17em;
    -webkit-margin-before: 1__qem;
    -webkit-margin-after: 1em
}

:matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) h1 {
    font-size: 1em;
    -webkit-margin-before: 1.33__qem;
    -webkit-margin-after: 1.33em
}

:matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) h1 {
    font-size: .83em;
    -webkit-margin-before: 1.67__qem;
    -webkit-margin-after: 1.67em
}

:matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) :matches(article, aside, nav, section) h1 {
    font-size: .67em;
    -webkit-margin-before: 2.33__qem;
    -webkit-margin-after: 2.33em
}

h2 {
    display: block;
    font-size: 1.5em;
}

h3 {
    display: block;
    font-size: 1.17em;
}

h4 {
    font-size: 1.25em;
    display: block;
}

h5 {
    display: block;
    font-size: .83em;
}

h6 {
    display: block;
    font-size: .67em;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,
html,
input,
select,
textarea {
    color: #222
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

img {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover {
    border: 1px solid;
    border-color: transparent;
    -webkit-text-fill-color: #333;
    -webkit-box-shadow: 0 0 0 1000px #fff inset
}

a {
    text-decoration: none
}

outline {
    border: 0
}

ins,
u {
    text-decoration: underline
}

b,
strong {
    font-weight: 700
}

address,
cite,
dfn,
em,
i,
var {
    font-style: italic
}

code,
kbd,
samp,
tt {
    font-family: monospace
}

listing,
plaintext,
pre,
xmp {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1__qem 0
}

mark {
    background-color: #ff0;
    color: #000
}

big {
    font-size: larger
}

small {
    font-size: smaller
}

del,
s,
strike {
    text-decoration: line-through
}

sub {
    vertical-align: sub;
    font-size: smaller
}

sup {
    vertical-align: super;
    font-size: smaller
}

nobr {
    white-space: nowrap
}

dd {
    display: block;
    -webkit-margin-start: 40px
}

dl {
    display: block;
    -webkit-margin-before: 1__qem;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0
}

dt {
    display: block
}

ol ol,
ol ul,
ul ol,
ul ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0
}

progress {
    -webkit-appearance: progress-bar;
    box-sizing: border-box;
    display: inline-block;
    height: 1em;
    width: 10em;
    vertical-align: -.2em
}

progress::-webkit-progress-inner-element {
    -webkit-appearance: inherit;
    box-sizing: inherit;
    height: 100%;
    width: 100%
}

progress::-webkit-progress-bar {
    background-color: gray;
    height: 100%;
    width: 100%;
    box-sizing: border-box
}

progress::-webkit-progress-value {
    background-color: green;
    height: 100%;
    width: 50%;
    box-sizing: border-box
}

#endif html:focus,
applet:focus,
body:focus,
embed:focus,
iframe:focus,
input[readonly]:focus,
object:focus {
    outline: 0
}

keygen:focus,
select:focus,
textarea:focus {
    outline-offset: -2px
}

#endif input:matches([type=button], [type=checkbox], [type=file], [type=hidden], [type=image], [type=radio], [type=reset], [type=search], [type=submit]):focus,
input[type=file]:focus::-webkit-file-upload-button {
    outline-offset: 0
}

a:any-link:active {
    color: -webkit-activelink
}

rt,
ruby {
    text-indent: 0
}

rt {
    line-height: normal;
    -webkit-text-emphasis: none
}

ruby>rt {
    display: block;
    font-size: -webkit-ruby-text;
    text-align: start
}

ruby>rp {
    display: none
}

noframes {
    display: none
}

frame,
frameset {
    display: block
}

frameset {
    border-color: inherit
}

iframe {
    border: 2px inset
}

details {
    display: block
}

summary {
    display: block
}

summary::-webkit-details-marker {
    display: inline-block;
    width: .66em;
    height: .66em;
    margin-right: .4em
}

template {
    display: none
}

bdi,
output {
    unicode-bidi: isolate
}

bdo {
    unicode-bidi: bidi-override
}

slot {
    display: contents
}

#if defined(WTF_PLATFORM_IOS_FAMILY) && WTF_PLATFORM_IOS_FAMILY applet,
embed,
img,
object {
    -webkit-tap-highlight-color: transparent
}

:any-link img {
    -webkit-tap-highlight-color: inherit
}

#endif #if defined(ENABLE_ATTACHMENT_ELEMENT) && ENABLE_ATTACHMENT_ELEMENT attachment {
    -webkit-appearance: attachment
}

#endif #endif @page {
    size: auto;
    margin: auto;
    padding: 0;
    border-width: 0
}

@media (inverted-colors) {
    img:not(picture>img),
    picture,
    video {
        filter: invert(100%)
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.chromeframe {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

.left {
    float: left
}

.right {
    float: right
}

.clear {
    clear: both;
    overflow: hidden
}

